---
layout: default
---

<header class="header">
  <div class="card">
    <picture class="landing-image">
      <source media="(max-width: 512px)" type="image/png" srcset="images/cesar-monsters-512.png">
      <source media="(min-width: 512px)" type="image/png" srcset="images/cesar-monsters-768.png">
      <img src="images/cesar-monsters-768.png">
    </picture>

    <div class="landing-description">
      <div class="container-intro">
        <p>Hi there! My name is <strong>César Díez</strong> and I am a Spanish
          Computer Engineer living in Richmond (London). I do Android apps for
          living, but I also love doing Sport, Cinema and Computers, of course.</p>
        <br>
        <p>If you want to know about what I do, have a look to all my sites:</p>
        <ul>
          <!-- <li><a href="https://codeforvictory.com">Software Development &#038; Crafstmanship, Android, UX &#038; UI</a></li> -->
          <li>Software Development &#038; Crafstmanship, Android, UX &#038; UI (Under construction).</li>
          <!-- <li><a href="https://thereisonlyonelife.com">Life thoughts &#038; experiences.</a></li> -->
          <li>Life thoughts &#038; experiences (Under construction).</li>
          <!-- <li><a href="https://masteringandroidstudio.com">Guide about Android Studio configuration and tweaks.</a></li> -->
          <li>Guide about Android Studio configuration and tweaks (Under construction).</a></li>
        </lu>
      </div>
      <br>
      {% include analytics.html %}
      {% include social_icons.html %}
    </div>
  </div>
</header>
