---
---

/***************/
/*   IMPORTS   */
/***************/

@import "variables";
@import "fonts";
@import "colors";
@import "reset";
@import "browser_compatibility";

/**************/
/* BASE RULES */
/**************/
header {
  display: block;
}

.header {
    position: relative;
    padding: 1em;
    @include centered-content;
}

body {
	background: $gray-extra-light;
  font: 18px/1.6 $base-font-family;
  color: $dark-gray;
  overflow-x: hidden;
  @include font-smoothing(off);
}

.card {
  margin-right: auto;
  margin-left: auto;
  max-width: 70em;
  padding: 1.4em;
  position: relative;
  background: $white;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.landing-image {
  max-width: 100%;
}

.landing-description {
  margin: 1.4em 0 0 0;
}



@import "responsive_style";
