---
---

/***************/
/*   IMPORTS   */
/***************/

@import "variables";
@import "fonts";
@import "colors";
@import "reset";
@import "browser_compatibility";

/**************/
/* BASE RULES */
/**************/

body {
	background: $gray-extra-light;
  font: 1em/1.8 $base-font-family;
  color: $dark-gray;
  overflow-x: hidden;
  @include font-smoothing(off);
}

html, body, .header {
    min-height: 95vh; // Makes the content centered - 5% (because of card shadow).
}

ul {
  list-style-type: disc;
  padding-left: 1.8em
}

ol {
  list-style-type: decimal;
}

ol, p, ul {
  margin-top: 0
}

a {
  color: #DA393F;
  text-decoration: none;
  transition: color ease-in-out .2s
}

@-webkit-keyframes a {
  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}
@keyframes a {
  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}

a:focus, a:hover {
  color: #ff1744
}

strong {
  font-weight: 600;
}

header {
  display: block;
}

img {
  max-width: 100%;
	display: flex;
}

.header {
  position: relative;
  padding: 1em;
  @include centered-content;
}

.card {
  margin-right: auto;
  margin-left: auto;
  max-width: 70em;
  padding: 1.4em;
  position: relative;
  background: $white;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

picture {
  // FIXME: There is a small padding on the bottom of the image. Solve this
}

.landing-description {
  margin: 1.4em 0 0 0;
}

/***************/
/*  MORE IMPORTS   */
/***************/

@import "responsive_style";
@import "svg-icons";
