---
---

/***************/
/*   IMPORTS   */
/***************/

@import "fonts";
@import "colors";
@import "reset";
@import "browser_compatibility";

// @import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

.header {
  display: flex;
}

body {
	background: $gray-extra-light;
  font: 18px/1.6 $base-font-family;
  color: $dark-gray;
  // overflow-x: hidden;
  @include font-smoothing(off);
}

.header {
  padding: 5em 1.2em;
}

.card {
  margin-right: auto;
  margin-left: auto;
  max-width: 70em;
  padding: 1.4em;
  position: relative;
  background: $white;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@media screen and (min-width: 48em) { // THIS SHOULD BE IN PX
    .card {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.centered-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}


.landing-description {
   margin-left: 1.4em;
}

@import "responsive_style";
