

<div class="container-social-icons">
  <p>You can also find me on:</p>
  <a href="https://dribbble.com/cesards/buckets"><i class="svg-icon dribbble"></i></a>
  <!-- <a href="mailto:{{ site.personal_links.email }}"><i class="svg-icon email"></i></a> -->
  <a href="https://github.com/cesards"><i class="svg-icon github"></i></a>
  <a href="https://www.linkedin.com/in/cesardiezsanchez"><i class="svg-icon linkedin"></i></a>
  <a href="https://www.pinterest.com/menorking"><i class="svg-icon pinterest"></i></a>
  <a href="https://www.twitter.com/menorking"><i class="svg-icon twitter"></i></a>
  <a href="http://stackoverflow.com/users/689723/cesards"><i class="svg-icon stackoverflow"></i></a>
  <a href="https://plus.google.com/115273462230054581675"><i class="svg-icon googleplus"></i></a>
</div>
