/****************/
/*    COLORS    */
/****************/

$white: #FFF;
$dark-gray: #333;
$gray-extra-light: #F9FAFE;




// // Colors
// $blue: #4183C4;
//
// // Grays
// $black: #000;
// $darkerGray: #222;
// $gray: #666;
// $lightGray: #eee;
