/**********************/
/*   BEST PRACTICES   */
/**********************/

// http://maxvoltar.com/archive/-webkit-font-smoothing
// https://davidwalsh.name/font-smoothing
// https://maximilianhoffmann.com/posts/better-font-rendering-on-osx
// http://codepen.io/macx/pen/qmkje
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

// Usage
// .dark-on-light {
//     @include font-smoothing(off);
// }
//
// .light-on-dark {
//     @include font-smoothing(on);
// }

/***************/
/*   SOURCES   */
/***************/

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://themes.googleusercontent.com/static/fonts/notosans/v1/LeFlHvsZjXu2c3ZRgBq9nLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}


/****************/
/*   FAMILIES   */
/****************/

$base-font-family: 'Noto Sans', Helvetica, Arial, sans-serif;



// $helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $georgia: Georgia, serif;
